@import "tailwindcss";
:root {
  --c1: rgb(7, 35, 67);
  --c2: rgb(20, 65, 117);
  --c3: rgb(29, 84, 108);
  --c4: rgb(244, 244, 244);
}
#bottom {
  background: linear-gradient(transparent, black);
}

* {
  font-family: "helvetica neue";
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.pulse-text {
  display: inline-block;
  animation: pulse 1.5s infinite;
}
.pulse-text {
  display: inline-block;
  background: linear-gradient(90deg, #1dd680, #3b82f6, #f472b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pulse 1.5s infinite;
}
